html * {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: rgba(33,150,243,0.8);
    color: white;
    z-index: 1000;
}

.figure {
    font-size: 2em;
    text-align: center;
    margin: 0 !important;
}

.note {
    font-size: 1.1em;
    text-align: center;
    margin: 0 0 4px 0 !important;
}

.percentile {
    font-size: 0.9em;
    color: gray;
    text-align: center;
    margin: 0 0 8px 0 !important;
}

.legend {
    padding: 10px;
    margin-bottom: 50px;
}

.color-ramp {
    width: 175px;
    height: 25px;
    background: linear-gradient(90deg, white, blue);
    border: 1px solid darkgray;
    margin-top: 8px;
}

.legend-label {
    font-size: 1em;
}

/*leaflet overrides*/

.leaflet-control-attribution {
    margin-bottom: 50px !important;
}